/*------------------------------------------------------------------
    [Table of contents]
 
    0. GENERAL STYLES
    1. Overview
    2. Client Description and Competitors
    3. Buyer Persona
    4. Design to Delight
    5. Business Model Canvas
    6. Customer Journey
    7. Wireframe/Mockup
    8. Accessibility Audit
    9. What I Learned
    10. Future Improvements
    11. Team
    12. Footer
    -------------------------------------------------------------------*/

/* 0. GENERAL STYLES */
:root {
  --rosy-brown: #eec7b5;
  --dark-rosy-brown: #d6b3a2;
  --darker-rosy-brown: #be9f90;
}

#navigation {
  position: fixed;
  top: 0;
}

#navigation {
  background-color: var(--darker-rosy-brown)
}

#top-section {
  padding: 5rem 0 0 0;
}

/* 1. Overview */
.tilt-left-10 {
  transform: rotate(-10deg);
}

.tilt-right-7 {
  transform: rotate(7deg);
}

@media (max-width: 991px) {
  /* #auth-grace-mobile {
    max-width: 37%;
  } */
  /* .boia-graphic {
    max-width: 50%;
  } */
}

@media (max-width: 767px) {
  /* #auth-grace-mobile {
    max-width: 37%;
  } */
  .boia-graphic {
    max-width: 70%;
  }
}

@media (max-width: 575px) {
  #auth-grace-mobile {
    max-width: 37%;
  }
  .boia-graphic {
    max-width: 50%;
  }
}

a {
  color: var(--font-color-dark);
}

a:hover {
  font-size: 103%;
  color: var(--font-color-dark);
}

/* 3. Buyer Persona */
#persona {
  margin-bottom: 0;
}

#competitors {
  margin-top: 0;
}

/* 9. What I Learned */
.reflections {
  list-style-type: disc;
}