/*------------------------------------------------------------------
    [Table of contents]
 
    0. GENERAL STYLES
    1. Intro
    2. Overview
    3. Theme, Audience and Purpose


    4. Process
    4a. Process - Empathize
    4b. Process - Define
    4c. Process - Ideate
    4d. Process - Build
    4e. Process - Test
    5. Site Map
    6. Final Thoughts
    7. Future Desired Improvements
    8. Footer
    -------------------------------------------------------------------*/

/* 3. Theme, Audience and Purpose */
#coffee-cup, #community-garden, #volunteer {
  max-width: 100%;
}

.content-list-item {
  list-style: circle;
}

.image-credit {
  font-size: .75rem;
}

/* SELECTING THE CONTENT */
a:hover {
  font-size: 107%
}

.video-link {
  color: var(--font-color-dark);
  font-style: italic;
}

.resource-link {
  color: var(--font-color-dark);
}