/*------------------------------------------------------------------
    [Table of contents]
 
    0. GENERAL STYLES
    1. Navigation
    2. Intro
    3. Overview
    4. Team
    5. Theme, Audience and Purpose
    6. Content
    7. Design: Layout
    8. Design: Style
    9. Design: Putting it All Together
    10. Building the Newsletter
    11. The Final Product
    12. Technologies and Tools Used
    13. Things I Learned
    14. Future Improvements to Make

    -------------------------------------------------------------------*/
/* 0. GENERAL STYLES */
:root {
  --dark-green: #57a99a;
  --light-green: #d1eecc;
  --greenish-blue: #76dbd1;
}

body {
  font-family: 'ABeeZee', sans-serif;
  color: #000;
}

h1.heading {
  font-size: 2.5rem;
}

h2 {
  margin-top: 7rem;
  margin-bottom: 4rem;
}

a {
  color: #000;
}

.button {
  background-color: var(--dark-green);
  color: #fff;
  padding: .5rem 2rem;
}

/* 1. Navigation */
#navigation {
  background-color: var(--light-green);
}

.navbar-brand,
.navbar-brand:hover {
  font-weight: bold;
  color: #000;
}

/* 2. Intro */
/* .button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: var(--bg-color-blue);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(131, 163, 175, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button:hover {
    background-color: var(--bg-color-blue);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(131, 163, 175, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
*/

/* 3. Overview */


/* 4. Team */
.headshot {
  max-width: 179px;
}

@media (max-width: 767px) {
  .headshot-container {
    margin-bottom: 1em;
  }
}

.list {
  padding-left: 1em;
}

li {
  list-style: inside disc;
}

/* 5. Theme, Audience and Purpose */
.circle {
  display: inline-block;
  height: 7.5rem;
  width: 7.5rem;
}

.circle-1 {
  background-color: var(--greenish-blue);
}

.circle-2 {
  background-color: var(--light-green);
}

/* 6. Content */
/* 7. Design: Layout */
/* 8. Design: Style */
/* 9. Design: Putting it All Together */
/* 10. Building the Newsletter */
/* 11. The Final Product */
/* 12. Technologies and Tools Used */
/* 13. Things I Learned */
/* 14. Future Improvements to Make */



/* 
.content-list-item {
  list-style: circle;
}

.image-credit {
  font-size: .75rem;
} 
*/ 

/* 4. Selecting the Content */
/* a:hover {
  font-size: 107%
}

section.roles {
  margin: 0;
}

.role {
  font-family: 'Cuprum', sans-serif;
  color: var(--dark-green);
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.video-link {
  color: var(--font-color-dark);
  font-style: italic;
}

.resource-link {
  color: var(--font-color-dark);
}
*/


/* .tablet {
  max-width: 400px;
  transform: rotate(10deg);
}

.mobile {
  max-width: 300px;
  transform: rotate(-7deg);
} */
/*
@media (max-width: 767px) {
  .tablet {
    max-height: 400px;
  }
  .mobile {
    max-height: 300px;
  }
}
*/