/*------------------------------------------------------------------
    [Table of contents]
 
    0. GENERAL STYLES
    1. Intro
    2. Overview
    3. Theme, Audience and Purpose
    4. Selecting the Content
    5. Design


    
    6. Final Thoughts
    7. Future Desired Improvements
    8. Footer
    -------------------------------------------------------------------*/
/* 0. GENERAL STYLES */
:root {
  --dark-green: #57a99a;
  --light-green: #d1eecc;
  --greenish-blue: #76dbd1;
}

/* 1. Intro */
.button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: var(--bg-color-blue);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(131, 163, 175, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button:hover {
    background-color: var(--bg-color-blue);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(131, 163, 175, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.tablet {
  max-width: 400px;
  transform: rotate(10deg);
}

.mobile {
  max-width: 300px;
  transform: rotate(-7deg);
}

@media (max-width: 767px) {
  .tablet {
    max-height: 400px;
  }
  .mobile {
    max-height: 300px;
  }
}

/* 3. Theme, Audience and Purpose */
#coffee-cup, #community-garden, #volunteer, .blue-water, .green-tree {
  max-width: 100%;
}

.content-list-item {
  list-style: circle;
}

.image-credit {
  font-size: .75rem;
}

/* 4. Selecting the Content */
a:hover {
  font-size: 107%
}

section.roles {
  margin: 0;
}

.role {
  font-family: 'Cuprum', sans-serif;
  color: var(--dark-green);
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.video-link {
  color: var(--font-color-dark);
  font-style: italic;
}

.resource-link {
  color: var(--font-color-dark);
}

/* 5. Design */

.container-green {
  background-color: darkgreen;
}

.green-tree {
  opacity: 0.8;
}

.container-blue {
  background-color: #4c8cad;
}

.blue-water {
  opacity: .7;
}
