/* Color Palette */
/* Cadet Blue #648c9c */
/* Lighter Accent Blue #92aeb9; */
/* Dark Slate Gray #414345 */
/* Light Steel Blue #dfe0e1 */

/* Other possible coordinating colors:  Rosy Brown #bea798 and Slate Gray #818384 */

/*------------------------------------------------------------------
    [Table of contents]
 
    0. GENERAL STYLES
    1. UTILITIES
    2. Navigation
    3. About 
    4. Skills 
    5. Projects
    6. Publications
    7. Presentations
    8. Contact
    9. Footer
    -------------------------------------------------------------------*/


/* 0. GENERAL STYLES */
:root {
  --bg-color-blue: #648c9c;
  --bg-color-gray: #dfe0e1;
  --font-color-dark: #414345;
  --font-color-light: #fff;
  --accent-lighter-blue: #92aeb9;
}

* {
  box-sizing: border-box;
}

body {
  font-size: .875rem;
  color: var(--font-color-dark);
  background-color: var(--bg-color-gray);
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: .8px;
}

.container {
  width: 90%;
  max-width: 1000px;
}

/* 1. UTILITIES */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
}

.slides-navigation {
  z-index: 5;
}

.slides-navigation a.prev {
  left: 20px;
}

.slides-navigation a.next {
  right: 20px;
}

.title-message {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 4;
  text-align: center;
  margin-top: -7.81rem;
}

.title-message .heading p {
  color: var(--font-color-light);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  font-weight: 200;
  letter-spacing: 7px;
}

.main-title {
  font-size: 3.125rem;
}

.subtitle {
  font-size: 1.44rem;
}

.section {
  padding: 100px 0;
}
/* UTILITIES end */

/* 2. Navigation Section */
#navigation {
  background-color: var(--bg-color-blue);
  padding: 20px 5%;
  z-index: 100; /* nav bar will always be on top of other content */
  width: 100%;
}

#navigation li {
  padding: 0 10px;
  border-radius: 15px;
}

#navigation li:hover {
  background-color: var(--accent-lighter-blue);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  transition: 0.7s;
}

#navigation li a {
  color: var(--font-color-light);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  transition: 0.7s;
}

#navigation li a:hover {
  color: #292929;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  transition: 0.7s;
}

.navbar-brand,
.navbar-brand:hover {
  font-weight: bold;
  color: var(--font-color-light);
}

.navbar-toggler-icon {
  background: url(../assets/images/icons/hamburger-menu.svg);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

#navbarNav {
  justify-content: flex-end;
}
/* Navigation Section END */

/* 3. About Section */
#about {
  padding: 80px 0;
  margin: 0;
  background-color: var(--bg-color-blue);
}

.about-container {   
  color: var(--font-color-light);                  /* grid container for the About content */ 
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 40px;
  margin: 1rem auto;
  justify-items: center;
}

.about-heading {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.about-content {
  text-align: center;
}

.profile-pic {
  text-align: center;
  margin: 0 auto;
  float: none;
}

.about-image {
  max-height: 200px;
  border-radius: 50%;
}
/* About Section END */

/* 4. Skills Section */
.skills-section {
  background-color: var(--bg-color-blue);
  color: var(--font-color-light);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  padding-top: 0;
}

.skill {
  padding: 3px;
  font-size: 4rem;
  color: var(--font-color-light);
}
/* Skills Section END */

/* 5. Projects Section - CSS Cookbook cards */
#projects, #publications {
  padding: 80px 0;
  margin: 0;
}

.projects-section {
  background-color: var(--bg-color-gray);
  text-align: center;
}

.projects-heading {
  padding-bottom: 2rem;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

img {
  max-width: 100%;
}

.cards-container {                      /* grid container for the cards */ 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
  margin: 1em auto;
}

.card-container {
  padding: 7px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #c1d0d7;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  transition: 0.7s;
}

.card-container:hover,
.card-container:active {
  background-color: var(--bg-color-blue);
  transition: 0.7s;
}

.card-link {
  color: inherit;
  text-decoration: none;
  transition: 0.7s;
}

.card-link:hover,
.card-link:active {
  color: inherit;
  text-decoration: none;
  transition: 0.7s;
}

.project-card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
}

.project-card:hover,
.project-card:active {
  box-shadow: 3px 3px 41px -3px rgba(0,0,0,0.38);
  -webkit-box-shadow: 3px 3px 41px -3px rgba(0,0,0,0.38);
  -moz-box-shadow: 3px 3px 41px -3px rgba(0,0,0,0.38);
  transition: 0.7s;
}

.project-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-header {
  height: 5.5rem;
  padding-top: 15px;
}

.card-heading {
  margin: 0;
  font-size: 120%;
  line-height: 1.75rem;
}

.card-image {
  border: 1px solid var(--bg-color-gray);
}

.card-icon-accessible {
  font-size: 8rem;
  background-color: #4c6ef5;
  color: var(--font-color-light);
}

.project-card .content {
  padding: .5rem;
  letter-spacing: .5px;
  font-size: 1rem;
}

.project-card footer {
  background-color: #333;
  color: var(--font-color-light);
}
/* Projects - CSS Cookbook cards END */

/* 6. Publications - CSS Cookbook cards */
#publications {
  background-color: var(--bg-color-blue);
  text-align: center;
}

.pubs-heading {
  padding-bottom: 2rem;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  color: var(--font-color-light);
}
/* Publications - CSS Cookbook cards END */

/* 7. Presentations - CSS Cookbook cards */
#speaking {
  background-color: var(--bg-color-gray);
  text-align: center;
}

.speaking-heading {
  padding-bottom: 2rem;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
/* Presentations - CSS Cookbook cards END */

/* 8. Contact */
.contact-section {
  background-color: var(--bg-color-blue);
  color: var(--font-color-light);
}

.contact-container {
  max-width: 540px;
  margin: 0 auto;
}

.contact-heading {
  padding-bottom: 2rem;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.btn-contact {
  background-color: var(--bg-color-gray);
  padding: 10px 15px;
  border: var(--bg-color-gray);
  border-radius: 15px;
  font-size: 1.25rem;
  color: #292929;
}

.btn-contact:hover,
.btn-contact:active {
  background-color: var(--bg-color-gray);
  border: var(--bg-color-gray);
  color: #292929;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}
/* Contact END */

/* 9. Footer */
.footer-section {
  background-color: #292929;
  color: var(--font-color-light);
  padding: 2rem 0;
}

.quote {
  max-width: 300px;
  margin: 0 auto;
}

.footer-byline {
  font-size: 1rem;
}
/* Footer END */